
.footer {
    width: 500px;
    min-height: 250px;
    background: #ffedfd;
    color: #3c32ff;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}

.footer div > p {
    position: absolute;
    bottom: 0;
}

body {
    background-color: rgb(226, 237, 255);
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #080848;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
}

h2 {
    font-size: 120%;
    text-align: center;
    align: bottom;
}

h3 {
    font-size: 120%;
    text-align: center;
    vertical-align: bottom;
    background: #fff;
    padding-bottom: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

a {
    font-weight: bold;
    text-align: right;
    color: #080848;
    font-family: Arial, Verdana, sans-serif;
}

.form-style-7 {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-style-7 li {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.form-style-7 li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.form-style-7 input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 input:focus {
}

.form-style-7 li > span {
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.form-style-7 textarea {
    resize: none;
}

.form-style-7 span.error {
    color: rgba(249, 113, 151, 0.97);

}

.form-style-7 label.error {
    width: 100%;
    color: #f97197;
}

.form-style-7 input.error {
    background-color: #f0b6c3;
}

.form-style-7 button {
    background: rgba(0, 0, 90, 0.85);
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid rgba(25, 25, 25, 0.81);
    border-radius: 3px;
    color: #fff;
}

.form-style-7 button:hover {
    background: #0000aa;
    color: #fff;
}


