span.error {
    color: red;
    font-weight: bold;
}

label.error {
    width: 100%;
    color: red;
}

input.error {
    background-color: #f086a3;
}

h1 {
    text-align: center;
    color: #192631;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: rgba(150, 180, 186, 0.49);
}

input {
    alignment: center;
    display: inline-block;
    margin-top: 2em;
    padding: 1em 2em 1em 2em;
    border-radius: 7px;
    border: 1px solid #373F34;
}

form {
    display: inline-block;
    max-width: 49%;
    text-align: left;
}

label {
    text-align: left;
    width: 150px;
    color: #192631;
}

a {
    text-align: center;
    color: #192631;
    font-size: 120%;
    font-family: Arial, Verdana, sans-serif;

}
